@import url('https://fonts.googleapis.com/css?family=Merriweather:700|Montserrat:400,400i,500,500i,700,700i');

* {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h1 span, h2 span, h3 span, .merriweather {
  font-family: 'Merriweather', serif;
  font-weight: 700;
}